# Compiled Sources #
####################
*.pyc

# Environment Specific #
#####################
/dataCollection/wsgi.py
/dataCollection/settings.py
*.swp
*.swo
*~

# CTAGS FILE #
/dataCollection/tags
