# Compiled Sources #
####################
*.pyc

# Environment Specific #
#####################
/Projects/SeniorProject/devcycle-server/dataCollection/wsgi.py
dataCollection/settings.py
*.swp

# CTAGS FILE #
/Projects/SeniorProject/devcycle-server/dataCollection/tags
