WSGIScriptAlias / /usr/local/devcycle/dataCollection/wsgi.py
WSGIPythonPath /usr/local/devcycle
Alias /static/ /var/www/static/

<Directory /usr/local/devcycle/dataCollection>
  
</Directory>
  <Files wsgi.py>
    Require all granted
  </Files>
</Directory>
