{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <style type="text/css">
        img { max-width: none; }
    </style>
    <script src="{% static 'OpenLayers.js' %}"></script>

    <!-- bring in the OpenStreetMap OpenLayers layers.
         Using this hosted file will make sure we are kept up
         to date with any necessary changes -->
    <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>

    <script type="text/javascript">
        // Start position for the map (hardcoded here for simplicity)
        var lon = {{ center.0 }};
        var lat = {{ center.1 }};
        var zoom = 13;

        var map; //complex object of type OpenLayers.Map

        //Initialise the 'map' object
        function init() {
            //mapWidth = $( '#map' ).width()
            //$( '#map' ).height(mapWidth)
            map = new OpenLayers.Map("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Permalink(),
                    new OpenLayers.Control.ScaleLine({geodesic:true}),
                    new OpenLayers.Control.Permalink('permalink'),
                    new OpenLayers.Control.MousePosition(),
                    new OpenLayers.Control.Attribution()],
                maxExtent:new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34),
                maxResolution:156543.0339,
                numZoomLevels:19,
                units:'m',
                projection:new OpenLayers.Projection("EPSG:900913"),
                displayProjection:new OpenLayers.Projection("EPSG:4326")
            });

            // This is the layer that uses the locally stored tiles
            var newLayer = new OpenLayers.Layer.OSM("Local Tiles", "{% if map_tile_server %}{{ map_tile_server }}{% endif %}/osm/${z}/${x}/${y}.png", {numZoomLevels:19});
            map.addLayer(newLayer);

// This is the end of the layer

            if (!map.getCenter()) {
                var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
                map.setCenter(lonLat, zoom);
            }

        }
    </script>
    <script src="/static/drawTourRoute.js"></script>
    <script src="/static/tourPlayback.js"></script>
{% endblock %}
{% block page_help %}
  <div><b>Map Playback</b></div>
  <p>
    View a timelaspe of the tour. You can start and stop the playback.
  </p>
  <dl>
    <dt style="color:green;">Green</dt>
    <dd>Riders going out a normal speed.</dd>
    <dt style="color:orange;">Orange</dt>
    <dd>Possible congestion or bottleneck.</dd>
    <dt style="color:red;">Red</dt>
    <dd>Likely congestion or bottleneck.</dd>      
  </dl>
{% endblock %}
{% block content %}
    {# nav #}
    <div class="row-fluid">
        <div class="span3">
            <div  style="height: 75%" class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Sidebar</li>
                    <li><a href="{% url 'map' %}">Recent Updates</a></li>
                    <li class="active"><a href="#">Play Back Mode</a></li>

                </ul>
            </div><!--/.well -->
            {% block bellow_map %}
                <div id="buttons" style="text-align:center" class="well">
                    <p id="playback_time" class="playback-time">&nbsp;</p>
                    <div id="playback_progress" class="progress progress-striped active">
                      <div id="playback_progess_bar" class="bar" style="width: 0%;"></div>
                    </div>
                    <div><a id="play" class="btn btn-large btn-success" href="#">Start Playback</a></div>
                    <div><a id="restart" style="display:none;" class="btn btn-large btn-success" href="#">Restart Playback</a></div>
                    <div><a id="pause" style="display:none;" class="btn btn-large btn btn-primary" href="#">Pause</a></div>
                </div>
            {% endblock %}
        </div><!--/span-->
        {# mapping #}
        <div class="span9">
            <div style="width:100%; height:500px" id="map"></div>
        </div><!--/span-->
    </div>
{% endblock %}
