{% extends 'base.html' %}
{% load static %}

{% block page_help %}
  <div><b>Updating Server Polling Rate</b></div>
  <p>
    This page allows you to update the server polling rate,
    for the current tour
  </p>
{% endblock %}

{% block content %}
	<div class="row-fluid">
		{# mapping #}
		<div class="span9">
		<h2>Update Server Polling Rate and Server Polling Range</h2>
		{% if messages %}
			{% for message in messages %}
			 	<div style="width:30%" class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a>{{ message }}</div>
            {% endfor %}
        {% endif %}
		<form action="{% url 'server-polling-rate-update' %}" method="post">
			{%csrf_token %}
			{% if form.non_field_errors%}
				<span class="text-error">
					{{ form.non_field_errors }}
				</span>
			{% endif %}
      <dl class="dl-vertical">
			{% for field in form %}
        <dt>{{field.label}}</dt>
				<dd>{{ field}}</dd>
			{% endfor %}
      </dl><br />
			<button type="Submit" class="btn">Update</button>
		</form>
	</div>
{% endblock %}
