{% extends 'base.html' %}
{% load static %}
{% load admin_modify %}
{% block extrahead %}
{{ media }}
{% endblock %}
{% block page_help %}
  <div><b>Tour Updating</b></div>
  <p>
    This page allows you to update tour configuration values
    that are being used in the mobile app. With exception of the tour
    times, configuration parameters can be changed at anytime.
  </p>
  <div><b>Changing Tour Times</b></div>
  <p>
    In the event that the tour is delayed and the original start time of the
    tour has not yet passed, you have the ability to send a new time configuration
    to riders. Automatic tracking will be disabled until the rider re-enters their
    new start time in the mobile app.
  </p>
  <div><b>Multi-Day Tours</b></div>
  <p>
    After the previous day's tour has ended, you are able to extend the tour
    to the next day by updating the dates and times of the currently configured
    tour. Simply enter the new date and time, and riders will be prompted
    to set their automatic tracking for the next day of the tour.
  </p>
{% endblock %}
{% block content %}
<div class="row-fluid">
<div class="span12">
<form action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    Please correct the error(s) below.
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form>
</div>
</div>
{% endblock %}
